body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  /* 添加一个深邃的渐变背景 */
  background: linear-gradient(135deg, #1d2b4a, #1a3a1a);
  background-attachment: fixed; /* 固定背景，滚动时不移动 */
}